.bottom-bar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0176D3;
    color: white !important;
    padding: 6px 12px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    z-index: 9999;
    max-width: 90%;
    white-space: nowrap;
}

.icon {
    margin-right: 6px;
}

.message {
    font-size: 0.875rem;
}

.online-indicator {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  
  background-color: #0fcc45;
  border-radius: 50%;
  
  position: relative;
}

.blink {
  display: block;
  width: 15px;
  height: 15px;
  
  background-color: #0fcc45;
  opacity: 0.7;
  border-radius: 50%;
  
  animation: blink 1s linear infinite;
}

@keyframes blink {
  100% { transform: scale(2, 2); 
          opacity: 0;
        }
}

.onffline-indicator{
     display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      
      background-color: #808080;
      border-radius: 50%;
      
      position: relative;
}