<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <pageFooter>WM4SF3__WalkMe_Resources/WM4SF3__WalkMe_Footer.html</pageFooter>
        <pageHeader>SharedDocuments/Appear_Logo.png</pageHeader>
        <primaryColor>#1F78DD</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#1F4B7D</quaternaryColor>
        <quaternaryComplementColor>#FFFFFF</quaternaryComplementColor>
        <secondaryColor>#2A5A90</secondaryColor>
        <tertiaryColor>#9FC1E8</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#2A5A90</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <description>Community to serve the FPR Only Submission Portal</description>
    <emailSenderAddress>skurmana@amgen.com</emailSenderAddress>
    <emailSenderName>FPR Submitter</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <networkMemberGroups>
        <permissionSet>High_volume_read_content</permissionSet>
        <profile>Admin</profile>
        <profile>APPEAR Portal FPR Only Submitter</profile>
        <profile>APPEAR GPPL</profile>
        <profile>APPEAR International FPRC</profile>
        <profile>APPEAR Pub Team</profile>
        <profile>APPEAR Reviewers</profile>
        <profile>APPEAR Writing</profile>
        <profile>APPEAR Read-Only</profile>
        <profile>APPEAR HC</profile>
        <profile>APPEAR Integration</profile>
        <profile>APPEAR FPRC</profile>
        <profile>APPEAR FPR Only Submitter</profile>
        <profile>APPEAR Business Admin</profile>
        <profile>APPEAR Reporting</profile>
        <profile>APPEAR External Writer</profile>
        <profile>APPEAR Functional Pub Team</profile>
    </networkMemberGroups>
    <picassoSite>FPR_Submitter1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>FPR_Submitter</site>
    <status>Live</status>
    <tabs>
        <customTab>Portal_FPR_Submitter</customTab>
        <defaultTab>01rU0000000DexJ</defaultTab>
    </tabs>
    <urlPathPrefix>FprSubmitter</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
